%h1 Editing admins_owner
= form_for @admins_owner, :url => admins_owner_path(@admins_owner),:method => :put do |f|
    = render 'form', :f => f

= link_to 'Show', admins_owner_path(@admins_owner)
\|
= link_to 'Back', admins_owners_path
