%li#fat-menu.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = current_admin.name
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Perfil", admin_path(current_admin)
    %li= link_to "Preferencias", '#'
    %li.divider
    %li
      = link_to "Desligar", destroy_admin_session_path, method: "delete"
