%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a#header-logo.pull-left
      = link_to "Print&Get", root_path, id: "logo"
      %nav
        - if admin_signed_in?
          %ul.nav.pull-right
            = render 'layouts/admins/dropDownSigned'
        - else
          %ul.nav.pull-right
            = render 'layouts/admins/dropDownNotSigned'
