%li#fat-menu.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = current_client.name
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Perfil", client_path(current_client)
    %li= link_to "Preferencias", '#'
    %li.divider
    %li
      = link_to "Desligar", destroy_client_session_path, method: "delete"
